/** @format */

.contact {
  padding: 40px;
}
label,
input {
  display: block;
  padding: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
}
input,
textarea,
label {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: #fc7794;
  outline: 0;
  border: 0;
  font-size: 18px;
  padding: 10px;
}
.field-1 {
  animation: backInDown 2.1s 1.1s backwards;
  -webkit-animation: backInDown 2.1s 1.1s backwards;
}
.field-2 {
  animation: backInDown 1.5s 1.1s backwards;
  -webkit-animation: backInDown 1.5s 1.1s backwards;
}
.field-3 {
  animation: backInDown 1s 1.1s backwards;
  -webkit-animation: backInDown 1s 1.1s backwards;
}

input:focus {
  background-color: #fc7794 !important;
}
input:active {
  background-color: #fc7794 !important;
}
.field {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin-top: 20px;
  border: 2.5px solid #fc7794;
  background-color: #fc7794;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
input {
  width: 100%;
  height: 40px;
  outline: 0;
  border: 0;
}
button {
  font-size: 20px;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s 0.1s ease;
}
button:hover .btn-icon {
  transition: all 0.5s 0.1s ease;
  font-size: 28px;
  transform: translateX(10px);
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
  -webkit-transition: all 0.5s 0.1s ease;
  -moz-transition: all 0.5s 0.1s ease;
  -ms-transition: all 0.5s 0.1s ease;
  -o-transition: all 0.5s 0.1s ease;
}
.icon-social {
  font-size: 20px;
  color: crimson;
}
.social-icon-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  background-color: rgb(224, 222, 222);
  width: 100%;
  padding-left: 12%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.icon-social {
  width: 80%;
  height: 80%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-social:hover {
  cursor: pointer;
  transition: all 0.4s linear;
  box-shadow: 1.2px 0.7px 3px 1px #323742;
  background-color: #f1e0e1;
  animation: headShake 1.3s 0.1s ease-in-out;
  -webkit-animation: headShake 1.3s 0.1s ease-in-out;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}
.icon-social a p {
  text-align: center;
}
h5 {
  letter-spacing: 3px;
}

@media screen and (max-width: 640px) {
  .social-icon-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    background-color: rgb(224, 222, 222);
    width: 100%;
    padding-left: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
