/** @format */
h1 {
  font-size: 30px;
  font-weight: bold;
}
.big-nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 30px;
}
ul {
  list-style: none;
  display: flex;
  margin-top: 5px;
}
li {
  margin-right: 20px;
  height: 50px;
  font-size: 20px;
}
.myNav {
  display: grid;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  background-color: #f3f4f6;
  z-index: 999;
  border: 1px solid rgba(212, 10, 10, 0.863);
  width: 100%;
  padding: 40px;
  position: fixed;
  margin-top: 50px;
  bottom: -20px;
  transition: all 0.8s 0.1s ease-in-out;
  -webkit-transition: all 0.8s 0.1s ease-in-out;
  -moz-transition: all 0.8s 0.1s ease-in-out;
  -ms-transition: all 0.8s 0.1s ease-in-out;
  -o-transition: all 0.8s 0.1s ease-in-out;
}
.hide-nav {
  transition: all 0.8s 0.1s ease-in-out;
  background-color: rgb(83, 3, 3);
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  width: 100%;
  padding: 30px;
  position: fixed;
  bottom: -250px;
  -webkit-transition: all 0.8s 0.1s ease-in-out;
  -moz-transition: all 0.8s 0.1s ease-in-out;
  -ms-transition: all 0.8s 0.1s ease-in-out;
  -o-transition: all 0.8s 0.1s ease-in-out;
}
.nav-icon {
  font-size: 25px;
  z-index: 999;
  margin-right: 40px;
  text-align: center;
}
.bars {
  position: fixed;
  right: -30px;
  bottom: 10px;
}
.icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
p {
  text-align: center;
  margin-left: -18px;
  margin-top: 10px;
  font-size: 18px;
}
.big-nav {
  padding-bottom: 40px;
  padding-top: 20px;
  height: 70px;
  border-bottom: 1.2px solid #e11d48;
}
.icon-container:hover {
  color: #e11d48;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.bars {
  color: #e11d48;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
