/** @format */
.services {
  display: flex;
  flex-direction: column;
}
.service-p {
  display: flex;
  flex-direction: column;
  background-color: rgb(224, 222, 222);
  height: 370px;
  padding: 10px;
  width: 100%;
  margin-right: 10px;
  max-width: 400px;
  box-shadow: 2px 3px 7px grey;
}

.service-contents {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 10px;
  padding: 50px;
}
.service-box {
  margin-top: 20px;
}
.service-header {
  display: flex;
  flex-direction: row;
}
.service-headers {
  display: flex;
  flex-direction: column;
}
.service-p:hover {
  background-color: rgb(248, 246, 246);
  transition: 0.3s ease;
  cursor: pointer;
  box-shadow: 3px 5px 10px rgb(110, 110, 110);
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}
.cubespinner {
  animation-name: spincube;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 12s;
  transform-style: preserve-3d;
  transform-origin: 100px 100px 0;
  margin-left: calc(50% - 100px);
}

.cubespinner div {
  position: absolute;
  width: 200px;

  height: 200px;
  border: 1px solid #ccc;
  background-color: rgba(255, 255, 255, 0.4);
  font-size: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 20px 0px rgb(182, 6, 29);
}
.face1 {
  transform: translateZ(100px);
  -webkit-transform: translateZ(100px);
  -moz-transform: translateZ(100px);
  -ms-transform: translateZ(100px);
  -o-transform: translateZ(100px);
}
.face2 {
  transform: rotateY(90deg) translateZ(100px);
  -webkit-transform: rotateY(90deg) translateZ(100px);
  -moz-transform: rotateY(90deg) translateZ(100px);
  -ms-transform: rotateY(90deg) translateZ(100px);
  -o-transform: rotateY(90deg) translateZ(100px);
}
.face3 {
  transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
  -webkit-transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
  -moz-transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
  -ms-transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
  -o-transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
}
.face4 {
  transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
  -webkit-transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
  -moz-transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
  -ms-transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
  -o-transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
}
.face5 {
  transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
  -webkit-transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
  -moz-transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
  -ms-transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
  -o-transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
}
.face6 {
  transform: rotateX(-90deg) translateZ(100px);
  -webkit-transform: rotateX(-90deg) translateZ(100px);
  -moz-transform: rotateX(-90deg) translateZ(100px);
  -ms-transform: rotateX(-90deg) translateZ(100px);
  -o-transform: rotateX(-90deg) translateZ(100px);
}

@keyframes spincube {
  from,
  to {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -o-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  16% {
    transform: rotateY(-90deg);
    -webkit-transform: rotateY(-90deg);
    -moz-transform: rotateY(-90deg);
    -ms-transform: rotateY(-90deg);
    -o-transform: rotateY(-90deg);
  }
  33% {
    transform: rotateY(-90deg) rotateZ(90deg);
    -webkit-transform: rotateY(-90deg) rotateZ(90deg);
    -moz-transform: rotateY(-90deg) rotateZ(90deg);
    -ms-transform: rotateY(-90deg) rotateZ(90deg);
    -o-transform: rotateY(-90deg) rotateZ(90deg);
  }
  50% {
    transform: rotateY(-180deg) rotateZ(90deg);
    -webkit-transform: rotateY(-180deg) rotateZ(90deg);
    -moz-transform: rotateY(-180deg) rotateZ(90deg);
    -ms-transform: rotateY(-180deg) rotateZ(90deg);
    -o-transform: rotateY(-180deg) rotateZ(90deg);
  }
  66% {
    transform: rotateY(-270deg) rotateZ(90deg);
    -webkit-transform: rotateY(-270deg) rotateZ(90deg);
    -moz-transform: rotateY(-270deg) rotateZ(90deg);
    -ms-transform: rotateY(-270deg) rotateZ(90deg);
    -o-transform: rotateY(-270deg) rotateZ(90deg);
  }
  83% {
    transform: rotateX(90deg);
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
  }
}
